snippet snip "snippet"
snippet $1 "$2"
$3
endsnippet$0
endsnippet

snippet £ "already text"
${$1:$2}$0
endsnippet

snippet math "context"
context "math()"
endsnippet

snippet text "context"
context "text()"
endsnippet
